{% extends 'base.html' %}

{% block content %}


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for info in infos.all %}
        <div class="card" style="width: 25rem;">
            <img src="{{ info.image.url }}" class="card-img-top" alt="...">
      
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{info.name}}</li>
              <li class="list-group-item">{{info.roll}}</li>
              <li class="list-group-item">{{info.dept}}</li>
              <li class="list-group-item">{{info.section}}</li>
              <li class="list-group-item">{{info.blood}}</li>
            </ul>
        
          </div>
        {% endfor %}
       </div>
    </div>
  </div>

{% endblock %}